@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* Choose your reset sheet */
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 21, sass/reset/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 31, sass/reset/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 42, sass/reset/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
/* line 52, sass/reset/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, sass/reset/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 82, sass/reset/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
/* line 90, sass/reset/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, sass/reset/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, sass/reset/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/* line 125, sass/reset/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 130, sass/reset/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 135, sass/reset/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 140, sass/reset/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 145, sass/reset/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 150, sass/reset/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
/* line 159, sass/reset/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
/* line 168, sass/reset/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 172, sass/reset/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
/* line 180, sass/reset/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
/* line 188, sass/reset/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 198, sass/reset/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 210, sass/reset/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, sass/reset/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
/* line 230, sass/reset/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
/* line 239, sass/reset/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 244, sass/reset/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
/* line 254, sass/reset/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 261, sass/reset/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 265, sass/reset/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 280, sass/reset/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 284, sass/reset/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 294, sass/reset/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 303, sass/reset/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 318, sass/reset/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
/* line 327, sass/reset/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
/* line 339, sass/reset/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
/* line 351, sass/reset/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 359, sass/reset/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
/* line 371, sass/reset/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 387, sass/reset/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 400, sass/reset/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
/* line 417, sass/reset/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 428, sass/reset/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
/* line 440, sass/reset/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
/* line 453, sass/reset/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
/* line 465, sass/reset/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
/* line 474, sass/reset/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 484, sass/reset/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 497, sass/reset/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 510, sass/reset/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 517, sass/reset/_normalize.scss */
b, strong, .strong {
  font-weight: bold;
}

/* line 519, sass/reset/_normalize.scss */
dfn, em, .em {
  font-style: italic;
}

/* line 521, sass/reset/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* line 523, sass/reset/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
}

/* line 528, sass/reset/_normalize.scss */
dd {
  margin: 0;
}

/* line 534, sass/reset/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/* Print sheet */
/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  /* line 6, sass/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 13, sass/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 16, sass/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 19, sass/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 24, sass/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 27, sass/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 31, sass/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 34, sass/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 37, sass/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 45, sass/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 50, sass/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 53, sass/_print.scss */
  header, footer {
    display: none;
  }
}
/* Toast Grid */
/*-----------------------------------*\

  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $grid-namespace and $grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $col-groups(n) adjusts column divisions.
  For example, $col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
/* line 60, sass/_grid.scss */
.grid {
  list-style: none;
  margin-left: -20px;
}
/* line 64, sass/_grid.scss */
.grid > .grid__col--2-of-2, .grid > .grid__col--3-of-3, .grid > .grid__col--4-of-4, .grid > .grid__col--5-of-5, .grid > .grid__col--6-of-6, .grid > .grid__col--8-of-8, .grid > .grid__col--12-of-12 {
  width: 100%;
}
/* line 66, sass/_grid.scss */
.grid > .grid__col--1-of-2, .grid > .grid__col--2-of-4, .grid > .grid__col--3-of-6, .grid > .grid__col--4-of-8, .grid > .grid__col--6-of-12 {
  width: 50%;
}
/* line 68, sass/_grid.scss */
.grid > .grid__col--1-of-3, .grid > .grid__col--2-of-6, .grid > .grid__col--4-of-12 {
  width: 33.33333%;
}
/* line 69, sass/_grid.scss */
.grid > .grid__col--2-of-3, .grid > .grid__col--4-of-6, .grid > .grid__col--8-of-12 {
  width: 66.66667%;
}
/* line 71, sass/_grid.scss */
.grid > .grid__col--1-of-4, .grid > .grid__col--2-of-8, .grid > .grid__col--3-of-12 {
  width: 25%;
}
/* line 73, sass/_grid.scss */
.grid > .grid__col--3-of-4, .grid > .grid__col--6-of-8, .grid > .grid__col--9-of-12 {
  width: 75%;
}
/* line 75, sass/_grid.scss */
.grid > .grid__col--push-2-of-2, .grid > .grid__col--push-3-of-3, .grid > .grid__col--push-4-of-4, .grid > .grid__col--push-5-of-5, .grid > .grid__col--push-6-of-6, .grid > .grid__col--push-8-of-8, .grid > .grid__col--push-12-of-12 {
  margin-left: 100%;
}
/* line 77, sass/_grid.scss */
.grid > .grid__col--push-1-of-2, .grid > .grid__col--push-2-of-4, .grid > .grid__col--push-3-of-6, .grid > .grid__col--push-4-of-8, .grid > .grid__col--push-6-of-12 {
  margin-left: 50%;
}
/* line 79, sass/_grid.scss */
.grid > .grid__col--push-1-of-3, .grid > .grid__col--push-2-of-6, .grid > .grid__col--push-4-of-12 {
  margin-left: 33.33333%;
}
/* line 80, sass/_grid.scss */
.grid > .grid__col--push-2-of-3, .grid > .grid__col--push-4-of-6, .grid > .grid__col--push-8-of-12 {
  margin-left: 66.66667%;
}
/* line 82, sass/_grid.scss */
.grid > .grid__col--push-1-of-4, .grid > .grid__col--push-2-of-8, .grid > .grid__col--push-3-of-12 {
  margin-left: 25%;
}
/* line 84, sass/_grid.scss */
.grid > .grid__col--push-3-of-4, .grid > .grid__col--push-6-of-8, .grid > .grid__col--push-9-of-12 {
  margin-left: 75%;
}
/* line 86, sass/_grid.scss */
.grid > .grid__col--pull-2-of-2, .grid > .grid__col--pull-3-of-3, .grid > .grid__col--pull-4-of-4, .grid > .grid__col--pull-5-of-5, .grid > .grid__col--pull-6-of-6, .grid > .grid__col--pull-8-of-8, .grid > .grid__col--pull-12-of-12 {
  margin-left: -100%;
}
/* line 88, sass/_grid.scss */
.grid > .grid__col--pull-1-of-2, .grid > .grid__col--pull-2-of-4, .grid > .grid__col--pull-3-of-6, .grid > .grid__col--pull-4-of-8, .grid > .grid__col--pull-6-of-12 {
  margin-left: -50%;
}
/* line 90, sass/_grid.scss */
.grid > .grid__col--pull-1-of-3, .grid > .grid__col--pull-2-of-6, .grid > .grid__col--pull-4-of-12 {
  margin-left: -33.33333%;
}
/* line 91, sass/_grid.scss */
.grid > .grid__col--pull-2-of-3, .grid > .grid__col--pull-4-of-6, .grid > .grid__col--pull-8-of-12 {
  margin-left: -66.66667%;
}
/* line 93, sass/_grid.scss */
.grid > .grid__col--pull-1-of-4, .grid > .grid__col--pull-2-of-8, .grid > .grid__col--pull-3-of-12 {
  margin-left: -25%;
}
/* line 95, sass/_grid.scss */
.grid > .grid__col--pull-3-of-4, .grid > .grid__col--pull-6-of-8, .grid > .grid__col--pull-9-of-12 {
  margin-left: -75%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--1-of-5 {
  width: 20%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-1-of-5 {
  margin-left: 20%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-1-of-5 {
  margin-left: -20%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--2-of-5 {
  width: 40%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-2-of-5 {
  margin-left: 40%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-2-of-5 {
  margin-left: -40%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--3-of-5 {
  width: 60%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-3-of-5 {
  margin-left: 60%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-3-of-5 {
  margin-left: -60%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--4-of-5 {
  width: 80%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-4-of-5 {
  margin-left: 80%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-4-of-5 {
  margin-left: -80%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--1-of-6 {
  width: 16.66667%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-1-of-6 {
  margin-left: 16.66667%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-1-of-6 {
  margin-left: -16.66667%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--5-of-6 {
  width: 83.33333%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-5-of-6 {
  margin-left: 83.33333%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-5-of-6 {
  margin-left: -83.33333%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--1-of-8 {
  width: 12.5%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-1-of-8 {
  margin-left: 12.5%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-1-of-8 {
  margin-left: -12.5%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--3-of-8 {
  width: 37.5%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-3-of-8 {
  margin-left: 37.5%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-3-of-8 {
  margin-left: -37.5%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--5-of-8 {
  width: 62.5%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-5-of-8 {
  margin-left: 62.5%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-5-of-8 {
  margin-left: -62.5%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--7-of-8 {
  width: 87.5%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-7-of-8 {
  margin-left: 87.5%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-7-of-8 {
  margin-left: -87.5%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--1-of-12 {
  width: 8.33333%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-1-of-12 {
  margin-left: 8.33333%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-1-of-12 {
  margin-left: -8.33333%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--2-of-12 {
  width: 16.66667%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-2-of-12 {
  margin-left: 16.66667%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-2-of-12 {
  margin-left: -16.66667%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--5-of-12 {
  width: 41.66667%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-5-of-12 {
  margin-left: 41.66667%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-5-of-12 {
  margin-left: -41.66667%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--7-of-12 {
  width: 58.33333%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-7-of-12 {
  margin-left: 58.33333%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-7-of-12 {
  margin-left: -58.33333%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--10-of-12 {
  width: 83.33333%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-10-of-12 {
  margin-left: 83.33333%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-10-of-12 {
  margin-left: -83.33333%;
}
/* line 102, sass/_grid.scss */
.grid > .grid__col--11-of-12 {
  width: 91.66667%;
}
/* line 125, sass/_grid.scss */
.grid > .grid__col--push-11-of-12 {
  margin-left: 91.66667%;
}
/* line 148, sass/_grid.scss */
.grid > .grid__col--pull-11-of-12 {
  margin-left: -91.66667%;
}
/* line 176, sass/_grid.scss */
.grid .grid__col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top;
}
@media (max-width: 700px) {
  /* line 176, sass/_grid.scss */
  .grid .grid__col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}
@media (max-width: 700px) and (min-width: 480px) {
  /* line 194, sass/_grid.scss */
  .grid .grid__col[class*="grid__col--m-"] {
    display: inline-block;
    margin-right: -0.24em;
  }
  /* line 199, sass/_grid.scss */
  .grid .grid__col.grid__col--m-1-of-2, .grid .grid__col.grid__col--m-2-of-4 {
    width: 50%;
  }
  /* line 203, sass/_grid.scss */
  .grid .grid__col.grid__col--m-1-of-3 {
    width: 33.33333%;
  }
  /* line 207, sass/_grid.scss */
  .grid .grid__col.grid__col--m-1-of-3 {
    width: 66.66667%;
  }
  /* line 211, sass/_grid.scss */
  .grid .grid__col.grid__col--m-1-of-4 {
    width: 25%;
  }
  /* line 219, sass/_grid.scss */
  .grid .grid__col.grid__col--m-3-of-4 {
    width: 75%;
  }
}
@media (max-width: 480px) {
  /* line 225, sass/_grid.scss */
  .grid .grid__col[class*="grid__col--s-"] {
    display: inline-block;
    margin-right: -0.24em;
  }
  /* line 230, sass/_grid.scss */
  .grid .grid__col.grid__col--s-1-of-2, .grid .grid__col.grid__col--s-2-of-4 {
    width: 50%;
  }
  /* line 234, sass/_grid.scss */
  .grid .grid__col.grid__col--s-1-of-3 {
    width: 33.33333%;
  }
  /* line 238, sass/_grid.scss */
  .grid .grid__col.grid__col--s-1-of-3 {
    width: 66.66667%;
  }
  /* line 242, sass/_grid.scss */
  .grid .grid__col.grid__col--s-1-of-4 {
    width: 25%;
  }
  /* line 250, sass/_grid.scss */
  .grid .grid__col.grid__col--s-3-of-4 {
    width: 75%;
  }
}
/* line 257, sass/_grid.scss */
.grid .grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 265, sass/_grid.scss */
.grid .grid__col--d-first {
  float: left;
}
/* line 270, sass/_grid.scss */
.grid .grid__col--d-last {
  float: right;
}
/* line 275, sass/_grid.scss */
.grid.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}
/* line 279, sass/_grid.scss */
.grid.grid--no-gutter > * {
  padding-left: 0;
}
/* line 283, sass/_grid.scss */
.grid.grid--no-gutter .grid__col--span-all {
  margin-left: 0;
  width: 100%;
}
/* line 290, sass/_grid.scss */
.grid .grid__col--ab {
  vertical-align: bottom;
}
/* line 295, sass/_grid.scss */
.grid .grid__col--am {
  vertical-align: middle;
}

/* Fonts */
/* Wordpress classes if used */
/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
/* line 5, sass/_wordpress.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 9, sass/_wordpress.scss */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 15px auto 15px auto;
}

/* line 13, sass/_wordpress.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 17, sass/_wordpress.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 21, sass/_wordpress.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 25, sass/_wordpress.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 28, sass/_wordpress.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 32, sass/_wordpress.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 37, sass/_wordpress.scss */
.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 44, sass/_wordpress.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 47, sass/_wordpress.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 50, sass/_wordpress.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 53, sass/_wordpress.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 62, sass/_wordpress.scss */
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Color variables and classes */
/* Colors */
/* line 23, sass/_colors.scss */
.text-blacker {
  background: #434343;
}

/* line 24, sass/_colors.scss */
.text-black {
  background: #6b6b6b;
}

/* line 25, sass/_colors.scss */
.text-gray {
  background: #777777;
}

/* line 26, sass/_colors.scss */
.text-lt-gray {
  background: #9e9e9e;
}

/* line 27, sass/_colors.scss */
.text-transparent {
  background: rgba(0, 0, 0, 0.001);
}

/* line 28, sass/_colors.scss */
.background-gray {
  background: #f1f1f1;
}

/* line 29, sass/_colors.scss */
.almost-white {
  background: #ebebeb;
}

/* line 30, sass/_colors.scss */
.color-facebook {
  background: #285c97;
}

/* line 31, sass/_colors.scss */
.color-twitter {
  background: #00aceb;
}

/* line 32, sass/_colors.scss */
.color-gplus {
  background: #e14d3d;
}

/* line 33, sass/_colors.scss */
.color-linkedin {
  background: #0f84ba;
}

/* line 34, sass/_colors.scss */
.gray-bg {
  background: #c6c6c6;
}

/* line 35, sass/_colors.scss */
.gray-bg-dark {
  background: #d4d4d4;
}

/* line 36, sass/_colors.scss */
.gray-bdr {
  background: #ececec;
}

/* line 37, sass/_colors.scss */
.color-blue {
  background: #0099ff;
}

/* line 38, sass/_colors.scss */
.color-red {
  background: #cc2929;
}

/* line 39, sass/_colors.scss */
.color-green {
  background: #99cc00;
}

/* line 40, sass/_colors.scss */
.color-yellow {
  background: #ffde00;
}

/* Variables */
/* Style guide basic styling. Remove this on the development site */
/* line 5, sass/_guide.scss */
.guide-body .container {
  max-width: 960px;
  width: 95%;
  margin: auto;
}

/* line 7, sass/_guide.scss */
.guide-header {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #CCC;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: white;
  z-index: 999;
}
/* line 17, sass/_guide.scss */
.guide-header .logo {
  font-weight: 700;
  font-size: 2em;
}
/* line 18, sass/_guide.scss */
.guide-header nav {
  text-align: right;
  padding-top: 10px;
}
/* line 21, sass/_guide.scss */
.guide-header nav ul {
  margin: 0;
}
/* line 23, sass/_guide.scss */
.guide-header nav ul li {
  display: inline;
  list-style: none;
}
/* line 26, sass/_guide.scss */
.guide-header nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #cc2929;
  padding: 2px 15px;
}
/* line 31, sass/_guide.scss */
.guide-header nav ul li a:hover, .guide-header nav ul li a:active {
  color: black;
}

/* line 38, sass/_guide.scss */
.guide-content {
  padding-top: 50px;
}
/* line 40, sass/_guide.scss */
.guide-content section {
  padding: 75px 0;
  border-bottom: 1px solid #CCC;
}

/* line 46, sass/_guide.scss */
.color-single {
  text-align: center;
  margin-bottom: 20px;
}
/* line 49, sass/_guide.scss */
.color-single .color-circle {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 100%;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 55, sass/_guide.scss */
.color-single .color-circle:hover {
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
/* line 59, sass/_guide.scss */
.color-single .color-title {
  display: block;
  text-align: center;
  font-weight: 700;
}
/* line 60, sass/_guide.scss */
.color-single .color-class {
  display: block;
  text-align: center;
  font-style: italic;
}

/* line 64, sass/_guide.scss */
#grid .grid__col {
  background: #cc2929;
  height: 30px;
  margin-top: 15px;
  padding: 7px 30px;
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 71, sass/_guide.scss */
#grid .grid__col:after {
  background: none repeat scroll 0 0 white;
  bottom: 0;
  content: "";
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
/* line 81, sass/_guide.scss */
#grid .grid__col .gridPopup {
  display: none;
  background: #c6c6c6;
  bottom: 0;
  left: 20px;
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
  top: 0;
  width: 170px;
  min-width: 100%;
  z-index: 999;
  font-size: .8em;
}
/* line 95, sass/_guide.scss */
#grid .grid__col:hover {
  background: #c6c6c6;
}
/* line 97, sass/_guide.scss */
#grid .grid__col:hover .gridPopup {
  display: block;
}

/* line 102, sass/_guide.scss */
footer section {
  padding: 20px 0 !important;
}

/* Place your site SASS here */
/* Typography */
/* line 1, sass/modules/_typography.scss */
hr {
  width: 100%;
  margin: 10px auto;
  border: none;
  border-bottom: 1px solid #CCC;
}

/* Modules. Un-comment to turn on */
/* line 1, sass/modules/_structure.scss */
.container {
  max-width: 960px;
  width: 95%;
  margin: auto;
}

/* line 3, sass/modules/_structure.scss */
.clear, .clearfix {
  clear: both;
}

/* line 1, sass/modules/_table.scss */
table {
  width: 100%;
}

/* line 2, sass/modules/_form.scss */
form fieldset {
  border: none;
}
/* line 5, sass/modules/_form.scss */
form label {
  display: block;
}
/* line 8, sass/modules/_form.scss */
form input {
  display: block;
  width: 100%;
}
/* line 12, sass/modules/_form.scss */
form textarea {
  width: 100%;
}

/* line 1, sass/modules/_list.scss */
ul {
  list-style: circle;
  margin-left: 25px;
}

/* line 12, sass/modules/_list.scss */
ol {
  list-style: decimal;
  margin-left: 25px;
}
