/* Colors */
$text-blacker : #434343;
$text-black : #6B6B6B;
$text-gray : #777;
$text-lt-gray : #9e9e9e;
$text-transparent : rgba(0, 0, 0, .001);
$background-gray: #f1f1f1;
$almost-white : #EBEBEB;
$facebook: #285c97;
$twitter: #00aceb;
$gplus: #e14d3d;
$linkedin: #0f84ba;
$gray-bg: #c6c6c6;
$gray-bg-dark: #d4d4d4;
$gray-bdr: #ececec;


$blue : rgb(0, 153, 255);
$red : rgb(204,41,41);
$green : rgb(153,204,0);
$yellow : rgb(255,222,0);

.text-blacker {background: $text-blacker;}
.text-black {background: $text-black;}
.text-gray {background: $text-gray;}
.text-lt-gray {background: $text-lt-gray;}
.text-transparent {background: $text-transparent;}
.background-gray {background: $background-gray;}
.almost-white {background: $almost-white;}
.color-facebook {background: $facebook;}
.color-twitter {background: $twitter;}
.color-gplus {background: $gplus;}
.color-linkedin {background: $linkedin;}
.gray-bg {background: $gray-bg;}
.gray-bg-dark {background: $gray-bg-dark;}
.gray-bdr {background: $gray-bdr;}
.color-blue {background: $blue;}
.color-red {background: $red;}
.color-green {background: $green;}
.color-yellow {background: $yellow;}