$guide-font: 'Open Sans', sans-serif;
$guide-weight: 300;

.guide-body {
  .container {max-width: 960px; width: 95%; margin: auto;}
}
.guide-header {
  font-family: $guide-font;
  font-weight: $guide-weight;
  border-bottom: 1px solid #CCC;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  left: 0; top: 0;
  background: white;
  z-index: 999;
  .logo {font-weight: 700;font-size: 2em;}
  nav {
    text-align: right;
    padding-top: 10px;
    ul {
      margin: 0;
      li {
        display: inline;
        list-style: none;
        a {
          display: inline-block;
          text-decoration: none;
          color: $red;
          padding: 2px 15px;
          &:hover, &:active {color: black;}
        }
      }
    } //ul
  } //nav
} //guideHeader

.guide-content {
  padding-top: 50px;
  section {
    padding: 75px 0;
    border-bottom: 1px solid #CCC;
  } // section
} // guideContent

.color-single {
  text-align: center;
  margin-bottom: 20px;
  .color-circle {
    width: 100%; 
    margin-bottom: 10px;
    padding-bottom: 100%;
    @include border-radius(10px, 10px);
    @include transition(all 0.2s ease-in-out);    
    &:hover {
      @include scale(.9);
    }
  } // color-circle
  .color-title {display: block; text-align: center; font-weight: 700;} 
  .color-class {display: block; text-align: center; font-style: italic;}  
} // color-single

#grid {
  .grid__col {
    background: $red; 
    height: 30px; 
    margin-top: 15px; 
    padding: 7px 30px; 
    position: relative;
    @include transition(all 0.1s ease-in-out);
    &:after {
      background: none repeat scroll 0 0 white;
      bottom: 0;
      content: "";
      height: 50px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }
    .gridPopup {
      display: none;
      background: $gray-bg; 
      bottom: 0;
      left: 20px;
      padding-left: 10px;
      padding-top: 5px;
      position: absolute;
      top: 0;
      width: 170px;
      min-width: 100%;
      z-index: 999;
      font-size: .8em;
    }
    &:hover {
      background: $gray-bg; 
      .gridPopup {display: block;}
    }
  } //grid__col
} //grid

footer section {padding: 20px 0 !important;}