ul {
  list-style: circle;
  margin-left: 25px;
  li {
    
    a {
      
      &:hover {}
    } //a
  } //li
} //ul
ol {
  list-style: decimal;
  margin-left: 25px;
  li {
    
    a {
      
      &:hover {}
    } //a
  } //li
}